.vscode/**
.vscode-test/**
.github/**
src/**
debug/**
out/test/**
node_modules/**
.gitignore
.yarnrc
.design-sync/**
vsc-extension-quickstart.md
todo.md
done.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
